html {
    background-color: black;
}

body {
    margin: 0 auto;
    max-width: 1500px;
}

.header {
    top: 0;
    background: black;
    z-index:999;
}

.header-title {
    color: white;
    font-size: 30px;
    font-weight: 800;
    margin:0 25px;
    font-family: Roboto, sans-serif;
}

.gallery {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    max-width: 1500px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 40px;
    opacity: 0.5;
}

.card:hover {
    border-radius: 10px;
    opacity: 1.0;
}

.card img {
    border-radius: 10px;
}

.label {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    font-family: Roboto, sans-serif;
}

.modal-background {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  top: 0;
  left: 0;
  background-color: black; /* Black w/ opacity */
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  width: 75%; /* Full width */
  height: 75%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: black; /* Black w/ opacity */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}